---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn("border-t", className)}>
  <div class="border-t py-4">
    <div class="container flex items-center justify-center min-h-[40px]">
      <span class="text-muted-foreground text-sm">
        &copy; 2024{" "}
        <a
          href={siteConfig.links.sunyz}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-2"
        >
          Yanzheng SUN</a>
        . All rights reserved.
      </span>
      <!-- <p class="text-left text-sm text-muted-foreground">
        Copyright &copy; 2024{" "}
        <a
          href={siteConfig.links.sunyz}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          Yanzheng SUN</a>
        . All rights reserved.
      </p> -->

      <!-- <div class="flex items-center gap-3">
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          <Icon name="github" class="size-5" />
        </a>
        <ThemeToggle client:load />
      </div> -->
    </div>
  </div>
</footer>
